html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100vh;   /* full screen height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  margin: 8px;
  padding: 10px 16px;
  cursor: pointer;
}
