html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}





.container {
  min-height: 100vh;   /* full screen height */
  width: 100%;
  display: flex;
 flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.card {
  flex: 0 0 calc(25% - 16px); /* 4 per row */
  box-sizing: border-box;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: bold;
  color: #e11d48; 

  padding: 20px;
}
